/.lake
LogicAndAutomata/playground.lean
*.aux
*.backup
*.bbl
*.bcf
*.blg
*-blx.bib
*eps-converted-to.pdf
*.fls
*.kate-swp
*.log
*.out
*.pag
bachelorscriptie.pdf
*.run.xml
*.synctex*
*.toc
*.brf
*.dvi
*.fdb_latexmk
*.out.ps
*.kilepr*
